In [1]:
import pandas as pd
import numpy as np
import datetime as dt

# Cleaning Data

**Use the pd.read_csv() function to read the Online Retail.xlsx file into a dataframe called df**

In [2]:
df = pd.read_csv('OnlineRetail2.csv', encoding ='latin')

**Use the DataFrame.info() and DataFrame.head() methods to print information about both
dataframes, as well as the first few rows**

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,539993,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04 10:00:00,1.95,13313.0,United Kingdom
1,539993,21499,BLUE POLKADOT WRAP,25,2011-01-04 10:00:00,0.42,13313.0,United Kingdom
2,539993,21498,RED RETROSPOT WRAP,25,2011-01-04 10:00:00,0.42,13313.0,United Kingdom
3,539993,22379,RECYCLING BAG RETROSPOT,5,2011-01-04 10:00:00,2.10,13313.0,United Kingdom
4,539993,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04 10:00:00,1.25,13313.0,United Kingdom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161469 entries, 0 to 161468
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    161469 non-null  object
 1   StockCode    161469 non-null  object
 2   Description  160780 non-null  object
 3   Quantity     161469 non-null  int64
 4   InvoiceDate  161469 non-null  object
 5   UnitPrice    161469 non-null  float64
 6   CustomerID   118104 non-null  float64
 7   Country      161468 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 9.9+ MB

**Check duplicated rows**

In [5]:
df.duplicated().sum()

1206

**Which attribute determines other attributes**

**Check the distribution of the Quantity attribute using the pd.describe() method**

In [6]:
df['Quantity'].describe()

count    161469.000000
mean          9.604122
std         266.156359
min      -74215.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       74215.000000
Name: Quantity, dtype: float64

**What anomalies have you observed?**

The negative value appears in the minium of Quantity

- Drop duplicated rows 

- Delete records with the value of Quantity <=0 

- Drop records with null CustomerID

In [7]:
df = df.drop_duplicates()

df = df.drop_duplicates(subset=['InvoiceNo', 'StockCode', 'Quantity'])
df = df[df['CustomerID'].notnull()]
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

df = df[df['Quantity'] > 0]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114097 entries, 0 to 161468
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    114097 non-null  object
 1   StockCode    114097 non-null  object
 2   Description  114097 non-null  object
 3   Quantity     114097 non-null  int64
 4   InvoiceDate  114097 non-null  datetime64[ns]
 5   UnitPrice    114097 non-null  float64
 6   CustomerID   114097 non-null  float64
 7   Country      114096 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 7.8+ MB

# RFM Analysis

**Calculate Recency, Frequency, and Monetary values for each customer. Store the result in a dataframe named the customer_df**

In [9]:
customer_df = pd.DataFrame()
type(customer_df)

pandas.core.frame.DataFrame

In [27]:
customer_df['CustomerID'] = df['CustomerID'].unique()

**Create a new column named ‘TotalRevenue’ as the product of two columns Quantity and UnitPrice**

In [11]:
df['TotalRevenue'] = df['Quantity'] * df['UnitPrice']
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalRevenue
0,539993,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04 10:00:00,1.95,13313.0,United Kingdom,19.50
1,539993,21499,BLUE POLKADOT WRAP,25,2011-01-04 10:00:00,0.42,13313.0,United Kingdom,10.50
2,539993,21498,RED RETROSPOT WRAP,25,2011-01-04 10:00:00,0.42,13313.0,United Kingdom,10.50
3,539993,22379,RECYCLING BAG RETROSPOT,5,2011-01-04 10:00:00,2.10,13313.0,United Kingdom,10.50
4,539993,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04 10:00:00,1.25,13313.0,United Kingdom,12.50
...,...,...,...,...,...,...,...,...,...
161464,554598,22722,SET OF 6 SPICE TINS PANTRY DESIGN,4,2011-05-25 11:12:00,3.95,13263.0,United Kingdom,15.80
161465,554598,21462,"NURSERY A,B,C PAINTED LETTERS",1,2011-05-25 11:12:00,6.75,13263.0,United Kingdom,6.75
161466,554598,85183B,CHARLIE & LOLA WASTEPAPER BIN FLORA,6,2011-05-25 11:12:00,1.25,13263.0,United Kingdom,7.50
161467,554603,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2011-05-25 11:14:00,3.75,14593.0,United Kingdom,7.50
161468,554603,21932,SCANDINAVIAN PAISLEY PICNIC BAG,1,2011-05-25 11:14:00,1.65,14593.0,NaN,1.65

**Create a new dataframe named frequency_df. This dataframe has only two columns:**

    • The ‘CustomerID’ column stores the unique ID of each customer
    • The ‘Frequency’ column stores the frequency value of each customer

In [12]:
frequency_col = df.groupby('CustomerID')['InvoiceNo'].nunique()
frequency_col

CustomerID
12346.0    1
12347.0    2
12348.0    2
12350.0    1
12352.0    5
          ..
18272.0    2
18273.0    1
18280.0    1
18283.0    5
18287.0    1
Name: InvoiceNo, Length: 2410, dtype: int64

In [13]:
frequency_df = pd.DataFrame({'CustomerID':frequency_col.index, 'Frequency':frequency_col.values})
frequency_df

      CustomerID  Frequency
0        12346.0          1
1        12347.0          2
2        12348.0          2
3        12350.0          1
4        12352.0          5
...          ...        ...
2405     18272.0          2
2406     18273.0          1
2407     18280.0          1
2408     18283.0          5
2409     18287.0          1

[2410 rows x 2 columns]

**Create a new dataframe named monetary_df. This dataframe has only two columns:**
    
    • The ‘ CustomerID’ column stores the unique ID of each customer
    • The ‘Monetary’ column stores the total revenue of each customer

In [14]:
monetary_col = df.groupby('CustomerID')['TotalRevenue'].sum()
monetary_col

CustomerID
12346.0    77183.60
12347.0     1111.64
12348.0      594.44
12350.0      334.40
12352.0     1098.01
             ...
18272.0      980.54
18273.0       51.00
18280.0      180.60
18283.0      515.52
18287.0      765.28
Name: TotalRevenue, Length: 2410, dtype: float64

In [15]:
monetary_df = pd.DataFrame({'CustomerID':monetary_col.index,'Monetary':monetary_col.values})
monetary_df

      CustomerID  Monetary
0        12346.0  77183.60
1        12347.0   1111.64
2        12348.0    594.44
3        12350.0    334.40
4        12352.0   1098.01
...          ...       ...
2405     18272.0    980.54
2406     18273.0     51.00
2407     18280.0    180.60
2408     18283.0    515.52
2409     18287.0    765.28

[2410 rows x 2 columns]

**Create a new dataframe named recency_df. This dataframe has only two columns:**

    • The ‘CustomerID’ column stores the unique ID of each customer
    • The ‘Recency’ column stores the recency value of each customer

In [16]:
recency_col =(df['InvoiceDate'].max() - df.groupby('CustomerID')['InvoiceDate'].max()).dt.days
recency_col

CustomerID
12346.0    127
12347.0     48
12348.0     50
12350.0    111
12352.0     63
          ...
18272.0     26
18273.0     58
18280.0     79
18283.0      1
18287.0      3
Name: InvoiceDate, Length: 2410, dtype: int64

In [17]:
recency_df = pd.DataFrame({'CustomerID':recency_col.index, 'Recency':recency_col.values})
recency_df

      CustomerID  Recency
0        12346.0      127
1        12347.0       48
2        12348.0       50
3        12350.0      111
4        12352.0       63
...          ...      ...
2405     18272.0       26
2406     18273.0       58
2407     18280.0       79
2408     18283.0        1
2409     18287.0        3

[2410 rows x 2 columns]

In [18]:
customer_df = pd.merge(customer_df, frequency_df, on='CustomerID')
customer_df = pd.merge(customer_df, monetary_df, on='CustomerID')
customer_df = pd.merge(customer_df, recency_df, on='CustomerID')

In [19]:
customer_df

      CustomerID  Frequency  Monetary  Recency
0        13313.0          2    609.74       16
1        18097.0          2   1274.04        6
2        16656.0          4   2035.28       28
3        16875.0          3    805.09       97
4        13094.0          6    716.76        7
...          ...        ...       ...      ...
2405     17521.0          1    159.56        0
2406     15042.0          1    135.93        0
2407     16091.0          1    157.25        0
2408     15804.0          1    525.36        0
2409     14593.0          1      9.15        0

[2410 rows x 4 columns]

**Add segment bin values to RFM table using quartile. For example, If the recency value
belongs to the first quartile, the recency value will be replaced by 1. If it belongs to the
second quartile, that value will be replaced by 2**

• Hint: using pd.qcut, create new columns named r_quantile, f_quantile, and
m_quantile in the dataframe customer_df

• In the customer_df, Create a new column named RFM_Score(1 point). The formula
for RFM_Score is as follows
RFM_Score = r_quantile + f_quantile + m_quantile

In [29]:
# Create r_quantile column
customer_df['r_quantile'] = pd.qcut(customer_df.Recency,
                                    q=4,
                                    labels=[1,2,3,4])

In [41]:
# Create f_quantile column
customer_df['f_quantile'] = pd.qcut(customer_df.Frequency,
                                    q=4,
                                    labels=[1,2,3],
                                    duplicates = 'drop')

customer_df['f_quantile']

ValueError: Bin labels must be one fewer than the number of bin edges

In [ ]:
# Create m_quantile column
customer_df['m_quantile'] = pd.qcut(customer_df.Monetary,
                                    q=4,
                                    labels=[1,2,3,4])

In [ ]:
customer_df

**In the customer_df, Create a new column named RFM_Score(1 point). The formula
for RFM_Score is as follows
RFM_Score = r_quantile + f_quantile + m_quantile**

In [ ]:
customer_df['RFM_Score'] = customer_df['r_quantile'].astype(int) + customer_df['f_quantile'].astype(int) + customer_df['m_quantile'].astype(int)

In [ ]:
customer_df

**Based on RFM_Score, customers are divided into 3 segments: low-value, mid-value, and high-value so that it satisfies the following rules:**

    - The number of customers in the high-value segment does not exceed 20% of the total number of customers.
    
    - The number of customers in the mid-value segment is no less than 30% of the total number of customers

In [ ]:
customer_df['Customer_Segments'] = pd.qcut(customer_df.RFM_Score,
                            q=[0,0.3,0.8,1.0],
                            labels =['low-value','mid-value','high-value'])

In [ ]:
customer_df['Customer_Segments'][100:120]